body {
  background-color: var(--color-background);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

.body {
  font-family: Poppins;
  padding: 2em;
  background-color: var(--color-background);
}
